@model CustomerViewModel

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>@ViewBag.Title</h1>

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Customer.CustomerId" />

    <partial name="CustomerForm" model="@Model.Customer" />
    <input class="btn btn-primary" type="submit" value="Save" />
    <a class="btn btn-secondary" asp-controller="Customer" asp-action="List"
       asp-route-filterFrom="A" asp-route-filterTo="E">Cancel</a>
</form>